{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.pinimg.com/originals/d5/89/a9/d589a959b8e40c3aab4b5fc247a59750.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Somvit Maity's Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% include 'messages.html' %}

        {% if request.user.is_authenticated %}
        {% for i in context %}
        <div class="post-preview">
          <a href="{% url 'show_post' i.id %}">
            <h2 class="post-title">
              {{i.title}}
            </h2>
            <h3 class="post-subtitle">
              {{i.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {% if i.author %}
            {{i.author}}
            {% else %}
            {{i.user_author}}
            {% endif %}
            on {{i.date}}  <a href="{% url 'edit_post' i.id %}">Edit Post</a>
            <a href="{% url 'delete_post' i.id %}">Delete Post</a>
          </p>
        </div>
        {% endfor %}
        {% endif %}


        <!-- New Post -->

      </div>
    </div>
  </div>
{% endblock %}
